[user]
	email = "kstolen0@gmail.com"
	name = "Kristian Stolen"
[credential "https://github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	s = status -s
	r = restore
	cfg = config --global 
	ac = !git add . && git commit -m
	cam = commit -am
	fp = push --force
	rom = pull origin main --rebase
	cm = checkout main
	nb = checkout -b
[url "https://github.com/kstolen0/"]
   insteadOf = "me:"
